body {
  font-family: "Poppins";
  color: #000;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  h1 {
  font-size: 2rem;
  }
}

.card {
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

.container {
  width: 150px;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  padding-left: 0px;
  justify-content: space-between;
}

.botonmenu {
width: 150px;
height: 130px;
padding: 65px 0px 0px 0px;
background-image: url("imagenes/menu.png");
align-self: flex-end;
}

.home {
  width: 100%;
  height: 800px;
  background-color: #fff;
  padding-top: 150px;
  padding-left: 152px;
}

.vertical {
  font-size: 12px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.palos {
  background-image: url("imagenes/fondopalos.png");
  height: 800px;
  padding-left: 150px;
  padding-top: 130px;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: #BD8C8C;
  padding: 150px 0px 150px 152px;
  text-align: center;
}




h1 {
font-size: 7rem;
visibility: inherit;
font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
  font-size: 4rem;
  }
}

@media (max-width: 576px) {
  h1 {
  font-size: 2rem;
  }
}

h2 {
font-size: 25px;
font-weight: 500;
}

h3 {
font-size: 25px;
font-weight: 400;
text-decoration: underline;
}

h4 {
  font-size: 18px;
  font-weight: 200;
  line-height: 1,7;
}


p {
font-size: 14px;
font-weight: lighter;
}
